$darkBackground: #272929;
$darkText: #b3b0ab;

body,
header a,
header a:visited,
header a:hover {
    color: $darkText;
    background-color: $darkBackground;
}

nav a {
    border-bottom-color: $darkBackground;
}

.inventaire {
    border-color: $darkBackground;
    > * {
        background-color: #373737;
        border-color: $darkBackground;
    }
}