/* Paramètres par défaut */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container principal */
main {
    /* background-color: darkred; */
    width: 75%;
    margin: auto;
}

article:first-child {
    margin-bottom: 50px;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: dashed thin gray;
    height: 50px;
}

header * {
    text-decoration: none;
    color: black;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: large;
}

nav a {
    padding: 4px;
    transition: all 0.2s ease;
    border-bottom: solid white 3px;
}

.selected,
nav a:hover {
    background-position: center;
    background-size: cover;
    border-color: rgb(94, 94, 255);
}

/* Layout global (s'applique à toutes les pages) */
article {
    display: flex;
    flex-direction: column;
}

article > div {
    display: flex;
    gap: 50px;
    align-items: center;
}

h1 {
    margin: 0;
    position: absolute;
    left: 10px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: x-large;
    /* margin: 0; */
    margin-top: 5px;
}

p {
    font-size: large;
}

/* Profil */
.inventaire {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-right: solid 3px gray;
    border-bottom: solid 3px gray;
}

.inventaire > a > article,
.inventaire > div > article {
    display: none;
    position: absolute;
    top: 77px;
    left: -300px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid gray;
    width: 677px;
    z-index: 1;
}

.inventaire > a,
.inventaire > div {
    height: 60px;
    width: 60px;
    border-top: solid 3px gray;
    border-left: solid 3px gray;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: rgb(239, 239, 239);
    position: relative;
}

.inventaire img {
    width: 100%;
}

.avatar {
    width: 200px;
    height: fit-content;
}

.legendary-item,
.legendary-item article {
    background: linear-gradient(45deg, hsl(53, 80%, 75%) 0%, hsl(24, 93%, 75%) 100%);
}

.epic-item,
.epic-item article {
    background: linear-gradient(45deg, hsl(268, 80%, 75%) 0%, hsl(307, 93%, 75%) 100%);
    color: white;
}

.rare-item,
.rare-item article {
    background: linear-gradient(45deg, hsl(235, 86%, 75%) 0%, hsl(194, 93%, 75%) 100%);
    color: white;
}

.uncommon-item,
.uncommon-item article {
    background: linear-gradient(45deg, rgb(105, 215, 118) 0%, rgb(105, 215, 118) 100%);
}

.common-item,
.common-item article {
    background: linear-gradient(45deg, lightgray 0%, lightgray 100%);
}

/* Panel de droite pour profil et succès */
article > div > section {
    /* background-color: chocolate; */
    flex-shrink: 7;
    flex-grow: 0;
    max-width: 800px;
    height: fit-content;
    padding: 10px;
    border: solid gray 7px;
    border-radius: 10px;
}

article > div > section > div {
    display: flex;
}

/* Succès */
.succes {
    /* background-color: cyan; */
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 20px;
    flex-shrink: 4;
}

.succes > * {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: solid 7px;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    text-align: center;
    text-decoration: none;
    color: black;
}

.gold {
    background-color: rgb(255, 239, 97);
    border-color: rgb(160, 150, 61);
}

.silver {
    background-color: rgb(185, 185, 185);
    border-color: rgb(75, 75, 75);
}

.bronze {
    background-color: rgb(170, 133, 60);
    border-color: rgb(87, 68, 31);
}

.succes img {
    width: auto;
    padding: 30%;
    padding-top: 5%;
    padding-bottom: 0;
}

.succes p {
    font-size: medium;
}

/* Partie détails pour les succès */

.illustration {
    max-height: 350px;
}

.details-succes {
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
    align-items: center;
}

.details-succes > * {
    flex-direction: column;
    align-items: start;
    gap: 0;
}

.details-succes > *:first-child {
    flex-grow: 1;
}

/* Tags pour les succès */
.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    padding: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 99999px; /* Overkill, mais permet de s'assurer que les bordures sont arrondies au max */
    text-decoration: none;
    color: black;
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

form > div {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 10px;
}

form > input {
    margin-top: 20px;
    width: fit-content;
}

input[type="submit"] {
    font-size: medium;
}

textarea {
    resize: none;
}

.contact {
    display: initial;
}

/* Responsive */
@media screen and (max-width: 500px) {
    form > div {
        max-width: 60%;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        display: none;
    }

    article > div {
        flex-wrap: wrap-reverse;
    }

    .avatar {
        display: none;
    }

    .succes {
        justify-content: center;
    }

    form > div {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1250px) {
    .details-succes {
        flex-wrap: wrap;
        gap: 0;
    }

    #sloubi {
        flex-wrap: nowrap;
        gap: 100px;
    }
}

@media screen and (max-width: 1500px) {
    article > div {
        flex-wrap: wrap;
        justify-content: center;
    }
}